<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>1853</integer>
  <key>copyright</key>
  <string>Licensed under CC BY-NC-SA 4.0</string>
  <key>descender</key>
  <integer>-411</integer>
  <key>familyName</key>
  <string>AG57</string>
  <key>openTypeHeadCreated</key>
  <string>2023/04/17 22:58:34</string>
  <key>openTypeHheaAscender</key>
  <integer>1853</integer>
  <key>openTypeHheaDescender</key>
  <integer>-411</integer>
  <key>openTypeHheaLineGap</key>
  <integer>0</integer>
  <key>openTypeNameDesigner</key>
  <string>Erik Spiekermann &amp; Alexander Roth</string>
  <key>openTypeNameDesignerURL</key>
  <string>https://www.p98a.com/</string>
  <key>openTypeNameLicense</key>
  <string>Licensed under CC BY-NC-SA 4.0</string>
  <key>openTypeNameLicenseURL</key>
  <string>https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode</string>
  <key>openTypeNameManufacturer</key>
  <string>neue</string>
  <key>openTypeNameManufacturerURL</key>
  <string>www.neuefoundry.com</string>
  <key>openTypeNamePreferredFamilyName</key>
  <string>AG57</string>
  <key>openTypeNamePreferredSubfamilyName</key>
  <string>Regular</string>
  <key>openTypeNameUniqueID</key>
  <string>neue: AG57 Regular: 2023</string>
  <key>openTypeNameVersion</key>
  <string>Version 1.100</string>
  <key>openTypeOS2CodePageRanges</key>
  <array>
    <integer>0</integer>
    <integer>1</integer>
    <integer>4</integer>
    <integer>7</integer>
    <integer>29</integer>
  </array>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Selection</key>
  <array>
    <integer>7</integer>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>584</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>130</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>0</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>0</integer>
  <key>openTypeOS2Type</key>
  <array/>
  <key>openTypeOS2TypoAscender</key>
  <integer>1853</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-411</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>0</integer>
  <key>openTypeOS2UnicodeRanges</key>
  <array>
    <integer>0</integer>
    <integer>1</integer>
    <integer>2</integer>
    <integer>3</integer>
    <integer>4</integer>
    <integer>5</integer>
    <integer>6</integer>
    <integer>7</integer>
    <integer>29</integer>
    <integer>31</integer>
    <integer>33</integer>
    <integer>35</integer>
    <integer>37</integer>
    <integer>38</integer>
    <integer>45</integer>
    <integer>62</integer>
  </array>
  <key>openTypeOS2VendorID</key>
  <string/>
  <key>openTypeOS2WeightClass</key>
  <integer>400</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>1853</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>411</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-20</integer>
    <integer>0</integer>
    <integer>928</integer>
    <integer>948</integer>
  </array>
  <key>postscriptFontName</key>
  <string>AG57-Regular</string>
  <key>postscriptFullName</key>
  <string>AG57 Regular</string>
  <key>postscriptStemSnapH</key>
  <array>
    <integer>130</integer>
    <integer>135</integer>
    <integer>145</integer>
  </array>
  <key>postscriptStemSnapV</key>
  <array>
    <integer>160</integer>
    <integer>165</integer>
    <integer>166</integer>
    <integer>175</integer>
  </array>
  <key>postscriptUnderlinePosition</key>
  <integer>-380</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>130</integer>
  <key>styleMapStyleName</key>
  <string>regular</string>
  <key>styleName</key>
  <string>Regular</string>
  <key>unitsPerEm</key>
  <integer>2048</integer>
  <key>versionMajor</key>
  <integer>1</integer>
  <key>versionMinor</key>
  <integer>100</integer>
  <key>xHeight</key>
  <integer>928</integer>
</dict>
</plist>
