<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.A</key>
  <array>
    <string>A</string>
    <string>uni0394</string>
    <string>uni2206</string>
  </array>
  <key>public.kern1.AE</key>
  <array>
    <string>AE</string>
    <string>AEacute</string>
    <string>E</string>
    <string>OE</string>
  </array>
  <key>public.kern1.B</key>
  <array>
    <string>B</string>
    <string>uni1E9E</string>
    <string>uni20BF</string>
  </array>
  <key>public.kern1.C</key>
  <array>
    <string>C</string>
    <string>Euro</string>
  </array>
  <key>public.kern1.D</key>
  <array>
    <string>Dcroat</string>
    <string>O</string>
    <string>Q</string>
    <string>copyright</string>
    <string>uni018F</string>
  </array>
  <key>public.kern1.F</key>
  <array>
    <string>F</string>
  </array>
  <key>public.kern1.FF000000000000003</key>
  <array>
    <string>ampersand</string>
  </array>
  <key>public.kern1.FF000000000000004</key>
  <array>
    <string>approxequal</string>
    <string>equal</string>
    <string>greaterequal</string>
    <string>logicalnot</string>
    <string>notequal</string>
    <string>plusminus</string>
  </array>
  <key>public.kern1.FF000000000000005</key>
  <array>
    <string>approxequal.case</string>
    <string>equal.case</string>
    <string>greaterequal.case</string>
    <string>notequal.case</string>
    <string>plusminus.case</string>
  </array>
  <key>public.kern1.FF000000000000006</key>
  <array>
    <string>asciicircum</string>
  </array>
  <key>public.kern1.FF000000000000007</key>
  <array>
    <string>asciitilde</string>
    <string>divide</string>
    <string>emdash</string>
    <string>endash</string>
    <string>greater</string>
    <string>hyphen</string>
    <string>minus</string>
    <string>plus</string>
    <string>uni00AD</string>
    <string>uni2011</string>
    <string>uni2219</string>
  </array>
  <key>public.kern1.FF000000000000008</key>
  <array>
    <string>asciitilde.case</string>
    <string>divide.case</string>
    <string>emdash.case</string>
    <string>endash.case</string>
    <string>greater.case</string>
    <string>hyphen.case</string>
    <string>minus.case</string>
    <string>periodcentered</string>
    <string>plus.case</string>
    <string>uni00AD.case</string>
    <string>uni2011.case</string>
    <string>uni2219.case</string>
  </array>
  <key>public.kern1.FF000000000000009</key>
  <array>
    <string>asterisk</string>
    <string>degree</string>
    <string>registered</string>
  </array>
  <key>public.kern1.FF000000000000010</key>
  <array>
    <string>backslash</string>
  </array>
  <key>public.kern1.FF000000000000011</key>
  <array>
    <string>backslash.case</string>
  </array>
  <key>public.kern1.FF000000000000012</key>
  <array>
    <string>braceleft</string>
    <string>bracketleft</string>
  </array>
  <key>public.kern1.FF000000000000013</key>
  <array>
    <string>braceleft.case</string>
    <string>bracketleft.case</string>
  </array>
  <key>public.kern1.FF000000000000014</key>
  <array>
    <string>braceright</string>
  </array>
  <key>public.kern1.FF000000000000015</key>
  <array>
    <string>colon</string>
    <string>exclamdown</string>
    <string>semicolon</string>
  </array>
  <key>public.kern1.FF000000000000016</key>
  <array>
    <string>colon.case</string>
  </array>
  <key>public.kern1.FF000000000000017</key>
  <array>
    <string>comma</string>
    <string>ellipsis</string>
    <string>period</string>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern1.FF000000000000018</key>
  <array>
    <string>dagger</string>
  </array>
  <key>public.kern1.FF000000000000019</key>
  <array>
    <string>daggerdbl</string>
  </array>
  <key>public.kern1.FF000000000000020</key>
  <array>
    <string>eight</string>
    <string>three</string>
  </array>
  <key>public.kern1.FF000000000000021</key>
  <array>
    <string>five</string>
  </array>
  <key>public.kern1.FF000000000000022</key>
  <array>
    <string>four</string>
  </array>
  <key>public.kern1.FF000000000000023</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern1.FF000000000000024</key>
  <array>
    <string>guillemotleft.case</string>
    <string>guilsinglleft.case</string>
  </array>
  <key>public.kern1.FF000000000000025</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern1.FF000000000000026</key>
  <array>
    <string>guillemotright.case</string>
    <string>guilsinglright.case</string>
  </array>
  <key>public.kern1.FF000000000000027</key>
  <array>
    <string>multiply</string>
  </array>
  <key>public.kern1.FF000000000000028</key>
  <array>
    <string>multiply.case</string>
  </array>
  <key>public.kern1.FF000000000000029</key>
  <array>
    <string>nine</string>
    <string>zero</string>
    <string>zero.zero</string>
  </array>
  <key>public.kern1.FF000000000000030</key>
  <array>
    <string>numbersign</string>
  </array>
  <key>public.kern1.FF000000000000031</key>
  <array>
    <string>parenleft</string>
  </array>
  <key>public.kern1.FF000000000000032</key>
  <array>
    <string>parenleft.case</string>
  </array>
  <key>public.kern1.FF000000000000033</key>
  <array>
    <string>parenright</string>
  </array>
  <key>public.kern1.FF000000000000034</key>
  <array>
    <string>question</string>
  </array>
  <key>public.kern1.FF000000000000035</key>
  <array>
    <string>questiondown</string>
  </array>
  <key>public.kern1.FF000000000000036</key>
  <array>
    <string>questiondown.case</string>
  </array>
  <key>public.kern1.FF000000000000037</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern1.FF000000000000038</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern1.FF000000000000039</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern1.FF000000000000040</key>
  <array>
    <string>seven</string>
  </array>
  <key>public.kern1.FF000000000000041</key>
  <array>
    <string>six</string>
  </array>
  <key>public.kern1.FF000000000000042</key>
  <array>
    <string>slash</string>
  </array>
  <key>public.kern1.FF000000000000043</key>
  <array>
    <string>slash.case</string>
  </array>
  <key>public.kern1.FF000000000000044</key>
  <array>
    <string>sterling</string>
  </array>
  <key>public.kern1.FF000000000000045</key>
  <array>
    <string>two</string>
  </array>
  <key>public.kern1.FF000000000000046</key>
  <array>
    <string>uni20BA</string>
  </array>
  <key>public.kern1.FF000000000000047</key>
  <array>
    <string>uni20BC</string>
  </array>
  <key>public.kern1.FF000000000000049</key>
  <array>
    <string>A</string>
    <string>uni0394</string>
    <string>uni2206</string>
  </array>
  <key>public.kern1.FF000000000000050</key>
  <array>
    <string>AE</string>
    <string>AEacute</string>
    <string>E</string>
    <string>OE</string>
  </array>
  <key>public.kern1.FF000000000000051</key>
  <array>
    <string>B</string>
    <string>uni1E9E</string>
    <string>uni20BF</string>
  </array>
  <key>public.kern1.FF000000000000052</key>
  <array>
    <string>C</string>
    <string>Euro</string>
  </array>
  <key>public.kern1.FF000000000000053</key>
  <array>
    <string>Dcroat</string>
    <string>O</string>
    <string>Q</string>
    <string>copyright</string>
    <string>uni018F</string>
  </array>
  <key>public.kern1.FF000000000000054</key>
  <array>
    <string>Eng</string>
    <string>H</string>
    <string>I</string>
    <string>M</string>
    <string>N</string>
    <string>exclam</string>
  </array>
  <key>public.kern1.FF000000000000055</key>
  <array>
    <string>F</string>
  </array>
  <key>public.kern1.FF000000000000056</key>
  <array>
    <string>G</string>
  </array>
  <key>public.kern1.FF000000000000057</key>
  <array>
    <string>Hbar</string>
  </array>
  <key>public.kern1.FF000000000000058</key>
  <array>
    <string>J</string>
  </array>
  <key>public.kern1.FF000000000000059</key>
  <array>
    <string>K</string>
  </array>
  <key>public.kern1.FF000000000000060</key>
  <array>
    <string>L</string>
    <string>Lslash</string>
  </array>
  <key>public.kern1.FF000000000000061</key>
  <array>
    <string>Oslash</string>
  </array>
  <key>public.kern1.FF000000000000062</key>
  <array>
    <string>P</string>
  </array>
  <key>public.kern1.FF000000000000063</key>
  <array>
    <string>R</string>
  </array>
  <key>public.kern1.FF000000000000064</key>
  <array>
    <string>S</string>
    <string>dollar</string>
  </array>
  <key>public.kern1.FF000000000000065</key>
  <array>
    <string>T</string>
  </array>
  <key>public.kern1.FF000000000000066</key>
  <array>
    <string>Tbar</string>
  </array>
  <key>public.kern1.FF000000000000067</key>
  <array>
    <string>Thorn</string>
  </array>
  <key>public.kern1.FF000000000000068</key>
  <array>
    <string>U</string>
  </array>
  <key>public.kern1.FF000000000000069</key>
  <array>
    <string>V</string>
  </array>
  <key>public.kern1.FF000000000000070</key>
  <array>
    <string>W</string>
  </array>
  <key>public.kern1.FF000000000000071</key>
  <array>
    <string>X</string>
  </array>
  <key>public.kern1.FF000000000000072</key>
  <array>
    <string>Y</string>
  </array>
  <key>public.kern1.FF000000000000073</key>
  <array>
    <string>Z</string>
  </array>
  <key>public.kern1.FF000000000000074</key>
  <array>
    <string>a</string>
  </array>
  <key>public.kern1.FF000000000000075</key>
  <array>
    <string>ae</string>
    <string>b</string>
    <string>e</string>
    <string>eth</string>
    <string>o</string>
    <string>oe</string>
    <string>p</string>
    <string>thorn</string>
  </array>
  <key>public.kern1.FF000000000000076</key>
  <array>
    <string>ampersand</string>
  </array>
  <key>public.kern1.FF000000000000077</key>
  <array>
    <string>at</string>
  </array>
  <key>public.kern1.FF000000000000078</key>
  <array>
    <string>c</string>
  </array>
  <key>public.kern1.FF000000000000079</key>
  <array>
    <string>d</string>
    <string>fi</string>
    <string>fl</string>
    <string>i</string>
    <string>j</string>
    <string>l</string>
  </array>
  <key>public.kern1.FF000000000000080</key>
  <array>
    <string>dagger</string>
  </array>
  <key>public.kern1.FF000000000000081</key>
  <array>
    <string>daggerdbl</string>
  </array>
  <key>public.kern1.FF000000000000082</key>
  <array>
    <string>dcroat</string>
  </array>
  <key>public.kern1.FF000000000000083</key>
  <array>
    <string>dotlessi</string>
    <string>g</string>
    <string>q</string>
    <string>u</string>
    <string>uni00B5</string>
    <string>uni03BC</string>
  </array>
  <key>public.kern1.FF000000000000084</key>
  <array>
    <string>eng</string>
    <string>h</string>
    <string>hbar</string>
    <string>m</string>
    <string>n</string>
  </array>
  <key>public.kern1.FF000000000000085</key>
  <array>
    <string>f</string>
  </array>
  <key>public.kern1.FF000000000000086</key>
  <array>
    <string>germandbls</string>
  </array>
  <key>public.kern1.FF000000000000087</key>
  <array>
    <string>k</string>
    <string>kgreenlandic</string>
  </array>
  <key>public.kern1.FF000000000000088</key>
  <array>
    <string>lslash</string>
  </array>
  <key>public.kern1.FF000000000000089</key>
  <array>
    <string>oslash</string>
  </array>
  <key>public.kern1.FF000000000000090</key>
  <array>
    <string>pi</string>
    <string>t</string>
  </array>
  <key>public.kern1.FF000000000000091</key>
  <array>
    <string>r</string>
  </array>
  <key>public.kern1.FF000000000000092</key>
  <array>
    <string>s</string>
  </array>
  <key>public.kern1.FF000000000000093</key>
  <array>
    <string>tbar</string>
  </array>
  <key>public.kern1.FF000000000000094</key>
  <array>
    <string>v</string>
    <string>w</string>
  </array>
  <key>public.kern1.FF000000000000095</key>
  <array>
    <string>x</string>
  </array>
  <key>public.kern1.FF000000000000096</key>
  <array>
    <string>y</string>
  </array>
  <key>public.kern1.FF000000000000097</key>
  <array>
    <string>z</string>
  </array>
  <key>public.kern1.G</key>
  <array>
    <string>G</string>
  </array>
  <key>public.kern1.H</key>
  <array>
    <string>Eng</string>
    <string>H</string>
    <string>I</string>
    <string>M</string>
    <string>N</string>
    <string>exclam</string>
  </array>
  <key>public.kern1.Hbar</key>
  <array>
    <string>Hbar</string>
  </array>
  <key>public.kern1.IJ</key>
  <array>
    <string>J</string>
  </array>
  <key>public.kern1.K</key>
  <array>
    <string>K</string>
  </array>
  <key>public.kern1.L</key>
  <array>
    <string>L</string>
    <string>Lslash</string>
  </array>
  <key>public.kern1.Oslash</key>
  <array>
    <string>Oslash</string>
  </array>
  <key>public.kern1.P</key>
  <array>
    <string>P</string>
  </array>
  <key>public.kern1.R</key>
  <array>
    <string>R</string>
  </array>
  <key>public.kern1.S</key>
  <array>
    <string>S</string>
    <string>dollar</string>
  </array>
  <key>public.kern1.T</key>
  <array>
    <string>T</string>
  </array>
  <key>public.kern1.Tbar</key>
  <array>
    <string>Tbar</string>
  </array>
  <key>public.kern1.Thorn</key>
  <array>
    <string>Thorn</string>
  </array>
  <key>public.kern1.U</key>
  <array>
    <string>U</string>
  </array>
  <key>public.kern1.V</key>
  <array>
    <string>V</string>
  </array>
  <key>public.kern1.W</key>
  <array>
    <string>W</string>
  </array>
  <key>public.kern1.X</key>
  <array>
    <string>X</string>
  </array>
  <key>public.kern1.Y</key>
  <array>
    <string>Y</string>
  </array>
  <key>public.kern1.Z</key>
  <array>
    <string>Z</string>
  </array>
  <key>public.kern1.a</key>
  <array>
    <string>a</string>
  </array>
  <key>public.kern1.ae</key>
  <array>
    <string>ae</string>
    <string>b</string>
    <string>e</string>
    <string>eth</string>
    <string>o</string>
    <string>oe</string>
    <string>p</string>
    <string>thorn</string>
  </array>
  <key>public.kern1.ampersand</key>
  <array>
    <string>ampersand</string>
  </array>
  <key>public.kern1.asciicircum</key>
  <array>
    <string>asciicircum</string>
  </array>
  <key>public.kern1.asterisk</key>
  <array>
    <string>asterisk</string>
    <string>degree</string>
    <string>registered</string>
  </array>
  <key>public.kern1.at</key>
  <array>
    <string>at</string>
  </array>
  <key>public.kern1.backslash</key>
  <array>
    <string>backslash</string>
  </array>
  <key>public.kern1.backslash.case</key>
  <array>
    <string>backslash.case</string>
  </array>
  <key>public.kern1.braceleft</key>
  <array>
    <string>braceleft</string>
    <string>bracketleft</string>
  </array>
  <key>public.kern1.braceleft.case</key>
  <array>
    <string>braceleft.case</string>
    <string>bracketleft.case</string>
  </array>
  <key>public.kern1.braceright</key>
  <array>
    <string>braceright</string>
  </array>
  <key>public.kern1.c</key>
  <array>
    <string>c</string>
  </array>
  <key>public.kern1.colon</key>
  <array>
    <string>colon</string>
    <string>exclamdown</string>
    <string>semicolon</string>
  </array>
  <key>public.kern1.colon.case</key>
  <array>
    <string>colon.case</string>
  </array>
  <key>public.kern1.d</key>
  <array>
    <string>d</string>
    <string>fi</string>
    <string>fl</string>
    <string>i</string>
    <string>j</string>
    <string>l</string>
  </array>
  <key>public.kern1.dagger</key>
  <array>
    <string>dagger</string>
  </array>
  <key>public.kern1.daggerdbl</key>
  <array>
    <string>daggerdbl</string>
  </array>
  <key>public.kern1.dcroat</key>
  <array>
    <string>dcroat</string>
  </array>
  <key>public.kern1.equal</key>
  <array>
    <string>approxequal</string>
    <string>equal</string>
    <string>greaterequal</string>
    <string>logicalnot</string>
    <string>notequal</string>
    <string>plusminus</string>
  </array>
  <key>public.kern1.equal.case</key>
  <array>
    <string>approxequal.case</string>
    <string>equal.case</string>
    <string>greaterequal.case</string>
    <string>notequal.case</string>
    <string>plusminus.case</string>
  </array>
  <key>public.kern1.f</key>
  <array>
    <string>f</string>
  </array>
  <key>public.kern1.five</key>
  <array>
    <string>five</string>
  </array>
  <key>public.kern1.four</key>
  <array>
    <string>four</string>
  </array>
  <key>public.kern1.g</key>
  <array>
    <string>dotlessi</string>
    <string>g</string>
    <string>q</string>
    <string>u</string>
    <string>uni00B5</string>
    <string>uni03BC</string>
  </array>
  <key>public.kern1.germandbls</key>
  <array>
    <string>germandbls</string>
  </array>
  <key>public.kern1.guillemotleft</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern1.guillemotleft.case</key>
  <array>
    <string>guillemotleft.case</string>
    <string>guilsinglleft.case</string>
  </array>
  <key>public.kern1.guillemotright</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern1.guillemotright.case</key>
  <array>
    <string>guillemotright.case</string>
    <string>guilsinglright.case</string>
  </array>
  <key>public.kern1.h</key>
  <array>
    <string>eng</string>
    <string>h</string>
    <string>hbar</string>
    <string>m</string>
    <string>n</string>
  </array>
  <key>public.kern1.hyphen</key>
  <array>
    <string>asciitilde</string>
    <string>divide</string>
    <string>emdash</string>
    <string>endash</string>
    <string>greater</string>
    <string>hyphen</string>
    <string>minus</string>
    <string>plus</string>
    <string>uni00AD</string>
    <string>uni2011</string>
    <string>uni2219</string>
  </array>
  <key>public.kern1.k</key>
  <array>
    <string>k</string>
    <string>kgreenlandic</string>
  </array>
  <key>public.kern1.lslash</key>
  <array>
    <string>lslash</string>
  </array>
  <key>public.kern1.multiply</key>
  <array>
    <string>multiply</string>
  </array>
  <key>public.kern1.multiply.case</key>
  <array>
    <string>multiply.case</string>
  </array>
  <key>public.kern1.numbersign</key>
  <array>
    <string>numbersign</string>
  </array>
  <key>public.kern1.oslash</key>
  <array>
    <string>oslash</string>
  </array>
  <key>public.kern1.parenleft</key>
  <array>
    <string>parenleft</string>
  </array>
  <key>public.kern1.parenleft.case</key>
  <array>
    <string>parenleft.case</string>
  </array>
  <key>public.kern1.parenright</key>
  <array>
    <string>parenright</string>
  </array>
  <key>public.kern1.period</key>
  <array>
    <string>comma</string>
    <string>ellipsis</string>
    <string>period</string>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern1.periodcentered</key>
  <array>
    <string>asciitilde.case</string>
    <string>divide.case</string>
    <string>emdash.case</string>
    <string>endash.case</string>
    <string>greater.case</string>
    <string>hyphen.case</string>
    <string>minus.case</string>
    <string>periodcentered</string>
    <string>plus.case</string>
    <string>uni00AD.case</string>
    <string>uni2011.case</string>
    <string>uni2219.case</string>
  </array>
  <key>public.kern1.question</key>
  <array>
    <string>question</string>
  </array>
  <key>public.kern1.questiondown</key>
  <array>
    <string>questiondown</string>
  </array>
  <key>public.kern1.questiondown.case</key>
  <array>
    <string>questiondown.case</string>
  </array>
  <key>public.kern1.quotedbl</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern1.quotedblleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern1.quotedblright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern1.r</key>
  <array>
    <string>r</string>
  </array>
  <key>public.kern1.s</key>
  <array>
    <string>s</string>
  </array>
  <key>public.kern1.seven</key>
  <array>
    <string>seven</string>
  </array>
  <key>public.kern1.six</key>
  <array>
    <string>six</string>
  </array>
  <key>public.kern1.slash</key>
  <array>
    <string>slash</string>
  </array>
  <key>public.kern1.slash.case</key>
  <array>
    <string>slash.case</string>
  </array>
  <key>public.kern1.sterling</key>
  <array>
    <string>sterling</string>
  </array>
  <key>public.kern1.t</key>
  <array>
    <string>pi</string>
    <string>t</string>
  </array>
  <key>public.kern1.tbar</key>
  <array>
    <string>tbar</string>
  </array>
  <key>public.kern1.three</key>
  <array>
    <string>eight</string>
    <string>three</string>
  </array>
  <key>public.kern1.two</key>
  <array>
    <string>two</string>
  </array>
  <key>public.kern1.uni20BA</key>
  <array>
    <string>uni20BA</string>
  </array>
  <key>public.kern1.uni20BC</key>
  <array>
    <string>uni20BC</string>
  </array>
  <key>public.kern1.v</key>
  <array>
    <string>v</string>
    <string>w</string>
  </array>
  <key>public.kern1.x</key>
  <array>
    <string>x</string>
  </array>
  <key>public.kern1.y</key>
  <array>
    <string>y</string>
  </array>
  <key>public.kern1.z</key>
  <array>
    <string>z</string>
  </array>
  <key>public.kern1.zero</key>
  <array>
    <string>nine</string>
    <string>zero</string>
    <string>zero.zero</string>
  </array>
  <key>public.kern2.A</key>
  <array>
    <string>A</string>
    <string>AE</string>
    <string>AEacute</string>
    <string>uni0394</string>
    <string>uni2206</string>
  </array>
  <key>public.kern2.B</key>
  <array>
    <string>B</string>
    <string>E</string>
    <string>Eng</string>
    <string>F</string>
    <string>H</string>
    <string>I</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>P</string>
    <string>R</string>
    <string>Thorn</string>
    <string>exclam</string>
    <string>uni20BF</string>
  </array>
  <key>public.kern2.C</key>
  <array>
    <string>C</string>
    <string>G</string>
    <string>O</string>
    <string>OE</string>
    <string>Q</string>
    <string>copyright</string>
    <string>uni018F</string>
  </array>
  <key>public.kern2.Eth</key>
  <array>
    <string>Dcroat</string>
    <string>Lslash</string>
  </array>
  <key>public.kern2.FF000000000000003</key>
  <array>
    <string>A</string>
    <string>AE</string>
    <string>AEacute</string>
    <string>uni0394</string>
    <string>uni2206</string>
  </array>
  <key>public.kern2.FF000000000000004</key>
  <array>
    <string>B</string>
    <string>E</string>
    <string>Eng</string>
    <string>F</string>
    <string>H</string>
    <string>I</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>P</string>
    <string>R</string>
    <string>Thorn</string>
    <string>exclam</string>
    <string>uni20BF</string>
  </array>
  <key>public.kern2.FF000000000000005</key>
  <array>
    <string>C</string>
    <string>G</string>
    <string>O</string>
    <string>OE</string>
    <string>Q</string>
    <string>copyright</string>
    <string>uni018F</string>
  </array>
  <key>public.kern2.FF000000000000006</key>
  <array>
    <string>Dcroat</string>
    <string>Lslash</string>
  </array>
  <key>public.kern2.FF000000000000007</key>
  <array>
    <string>Hbar</string>
  </array>
  <key>public.kern2.FF000000000000008</key>
  <array>
    <string>J</string>
  </array>
  <key>public.kern2.FF000000000000009</key>
  <array>
    <string>Oslash</string>
  </array>
  <key>public.kern2.FF000000000000010</key>
  <array>
    <string>S</string>
    <string>dollar</string>
  </array>
  <key>public.kern2.FF000000000000011</key>
  <array>
    <string>T</string>
  </array>
  <key>public.kern2.FF000000000000012</key>
  <array>
    <string>Tbar</string>
  </array>
  <key>public.kern2.FF000000000000013</key>
  <array>
    <string>U</string>
  </array>
  <key>public.kern2.FF000000000000014</key>
  <array>
    <string>V</string>
  </array>
  <key>public.kern2.FF000000000000015</key>
  <array>
    <string>W</string>
  </array>
  <key>public.kern2.FF000000000000016</key>
  <array>
    <string>X</string>
  </array>
  <key>public.kern2.FF000000000000017</key>
  <array>
    <string>Y</string>
  </array>
  <key>public.kern2.FF000000000000018</key>
  <array>
    <string>Z</string>
  </array>
  <key>public.kern2.FF000000000000019</key>
  <array>
    <string>a</string>
    <string>ae</string>
  </array>
  <key>public.kern2.FF000000000000020</key>
  <array>
    <string>ampersand</string>
  </array>
  <key>public.kern2.FF000000000000021</key>
  <array>
    <string>asciitilde</string>
    <string>divide</string>
    <string>emdash</string>
    <string>endash</string>
    <string>hyphen</string>
    <string>less</string>
    <string>logicalnot</string>
    <string>minus</string>
    <string>plus</string>
    <string>uni00AD</string>
    <string>uni2011</string>
    <string>uni2219</string>
  </array>
  <key>public.kern2.FF000000000000022</key>
  <array>
    <string>asciitilde.case</string>
    <string>divide.case</string>
    <string>emdash.case</string>
    <string>endash.case</string>
    <string>hyphen.case</string>
    <string>less.case</string>
    <string>logicalnot.case</string>
    <string>minus.case</string>
    <string>periodcentered</string>
    <string>plus.case</string>
    <string>uni00AD.case</string>
    <string>uni2011.case</string>
    <string>uni2219.case</string>
  </array>
  <key>public.kern2.FF000000000000023</key>
  <array>
    <string>asterisk</string>
    <string>degree</string>
    <string>registered</string>
  </array>
  <key>public.kern2.FF000000000000024</key>
  <array>
    <string>b</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>thorn</string>
  </array>
  <key>public.kern2.FF000000000000025</key>
  <array>
    <string>backslash</string>
  </array>
  <key>public.kern2.FF000000000000026</key>
  <array>
    <string>backslash.case</string>
  </array>
  <key>public.kern2.FF000000000000027</key>
  <array>
    <string>braceleft</string>
  </array>
  <key>public.kern2.FF000000000000028</key>
  <array>
    <string>braceright</string>
    <string>bracketright</string>
  </array>
  <key>public.kern2.FF000000000000029</key>
  <array>
    <string>braceright.case</string>
    <string>bracketright.case</string>
  </array>
  <key>public.kern2.FF000000000000030</key>
  <array>
    <string>c</string>
    <string>d</string>
    <string>dcroat</string>
    <string>e</string>
    <string>eth</string>
    <string>g</string>
    <string>o</string>
    <string>oe</string>
    <string>q</string>
  </array>
  <key>public.kern2.FF000000000000031</key>
  <array>
    <string>colon</string>
    <string>exclamdown</string>
    <string>semicolon</string>
  </array>
  <key>public.kern2.FF000000000000032</key>
  <array>
    <string>comma</string>
    <string>ellipsis</string>
    <string>period</string>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern2.FF000000000000033</key>
  <array>
    <string>dotlessi</string>
    <string>eng</string>
    <string>kgreenlandic</string>
    <string>m</string>
    <string>n</string>
    <string>p</string>
    <string>r</string>
    <string>uni00B5</string>
    <string>uni03BC</string>
  </array>
  <key>public.kern2.FF000000000000034</key>
  <array>
    <string>eight</string>
  </array>
  <key>public.kern2.FF000000000000035</key>
  <array>
    <string>f</string>
    <string>fi</string>
    <string>fl</string>
    <string>pi</string>
  </array>
  <key>public.kern2.FF000000000000036</key>
  <array>
    <string>five</string>
  </array>
  <key>public.kern2.FF000000000000037</key>
  <array>
    <string>four</string>
  </array>
  <key>public.kern2.FF000000000000038</key>
  <array>
    <string>germandbls</string>
  </array>
  <key>public.kern2.FF000000000000039</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern2.FF000000000000040</key>
  <array>
    <string>guillemotleft.case</string>
    <string>guilsinglleft.case</string>
  </array>
  <key>public.kern2.FF000000000000041</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern2.FF000000000000042</key>
  <array>
    <string>guillemotright.case</string>
    <string>guilsinglright.case</string>
  </array>
  <key>public.kern2.FF000000000000043</key>
  <array>
    <string>hbar</string>
  </array>
  <key>public.kern2.FF000000000000044</key>
  <array>
    <string>lslash</string>
  </array>
  <key>public.kern2.FF000000000000045</key>
  <array>
    <string>nine</string>
  </array>
  <key>public.kern2.FF000000000000046</key>
  <array>
    <string>numbersign</string>
  </array>
  <key>public.kern2.FF000000000000047</key>
  <array>
    <string>one</string>
  </array>
  <key>public.kern2.FF000000000000048</key>
  <array>
    <string>ordfeminine</string>
  </array>
  <key>public.kern2.FF000000000000049</key>
  <array>
    <string>ordmasculine</string>
  </array>
  <key>public.kern2.FF000000000000050</key>
  <array>
    <string>oslash</string>
  </array>
  <key>public.kern2.FF000000000000051</key>
  <array>
    <string>parenleft</string>
  </array>
  <key>public.kern2.FF000000000000052</key>
  <array>
    <string>parenright</string>
  </array>
  <key>public.kern2.FF000000000000053</key>
  <array>
    <string>parenright.case</string>
  </array>
  <key>public.kern2.FF000000000000054</key>
  <array>
    <string>percent</string>
    <string>perthousand</string>
  </array>
  <key>public.kern2.FF000000000000055</key>
  <array>
    <string>question</string>
  </array>
  <key>public.kern2.FF000000000000056</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern2.FF000000000000057</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern2.FF000000000000058</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern2.FF000000000000059</key>
  <array>
    <string>s</string>
  </array>
  <key>public.kern2.FF000000000000060</key>
  <array>
    <string>seven</string>
  </array>
  <key>public.kern2.FF000000000000061</key>
  <array>
    <string>six</string>
    <string>zero</string>
    <string>zero.zero</string>
  </array>
  <key>public.kern2.FF000000000000062</key>
  <array>
    <string>slash</string>
  </array>
  <key>public.kern2.FF000000000000063</key>
  <array>
    <string>slash.case</string>
  </array>
  <key>public.kern2.FF000000000000064</key>
  <array>
    <string>t</string>
  </array>
  <key>public.kern2.FF000000000000065</key>
  <array>
    <string>tbar</string>
  </array>
  <key>public.kern2.FF000000000000066</key>
  <array>
    <string>three</string>
  </array>
  <key>public.kern2.FF000000000000067</key>
  <array>
    <string>two</string>
  </array>
  <key>public.kern2.FF000000000000068</key>
  <array>
    <string>u</string>
  </array>
  <key>public.kern2.FF000000000000069</key>
  <array>
    <string>uni1E9E</string>
  </array>
  <key>public.kern2.FF000000000000070</key>
  <array>
    <string>uni20BC</string>
  </array>
  <key>public.kern2.FF000000000000071</key>
  <array>
    <string>v</string>
    <string>w</string>
  </array>
  <key>public.kern2.FF000000000000072</key>
  <array>
    <string>x</string>
  </array>
  <key>public.kern2.FF000000000000073</key>
  <array>
    <string>y</string>
  </array>
  <key>public.kern2.FF000000000000074</key>
  <array>
    <string>z</string>
  </array>
  <key>public.kern2.FF000000000000076</key>
  <array>
    <string>A</string>
    <string>AE</string>
    <string>AEacute</string>
    <string>uni0394</string>
    <string>uni2206</string>
  </array>
  <key>public.kern2.FF000000000000077</key>
  <array>
    <string>C</string>
    <string>G</string>
    <string>O</string>
    <string>OE</string>
    <string>Q</string>
    <string>copyright</string>
    <string>uni018F</string>
  </array>
  <key>public.kern2.FF000000000000078</key>
  <array>
    <string>Dcroat</string>
    <string>Lslash</string>
  </array>
  <key>public.kern2.FF000000000000079</key>
  <array>
    <string>Hbar</string>
  </array>
  <key>public.kern2.FF000000000000080</key>
  <array>
    <string>J</string>
  </array>
  <key>public.kern2.FF000000000000081</key>
  <array>
    <string>Oslash</string>
  </array>
  <key>public.kern2.FF000000000000082</key>
  <array>
    <string>S</string>
    <string>dollar</string>
  </array>
  <key>public.kern2.FF000000000000083</key>
  <array>
    <string>T</string>
  </array>
  <key>public.kern2.FF000000000000084</key>
  <array>
    <string>Tbar</string>
  </array>
  <key>public.kern2.FF000000000000085</key>
  <array>
    <string>U</string>
  </array>
  <key>public.kern2.FF000000000000086</key>
  <array>
    <string>V</string>
  </array>
  <key>public.kern2.FF000000000000087</key>
  <array>
    <string>W</string>
  </array>
  <key>public.kern2.FF000000000000088</key>
  <array>
    <string>X</string>
  </array>
  <key>public.kern2.FF000000000000089</key>
  <array>
    <string>Y</string>
  </array>
  <key>public.kern2.FF000000000000090</key>
  <array>
    <string>Z</string>
  </array>
  <key>public.kern2.FF000000000000091</key>
  <array>
    <string>a</string>
    <string>ae</string>
  </array>
  <key>public.kern2.FF000000000000092</key>
  <array>
    <string>ampersand</string>
  </array>
  <key>public.kern2.FF000000000000093</key>
  <array>
    <string>asciitilde</string>
    <string>divide</string>
    <string>emdash</string>
    <string>endash</string>
    <string>hyphen</string>
    <string>less</string>
    <string>logicalnot</string>
    <string>minus</string>
    <string>plus</string>
    <string>uni00AD</string>
    <string>uni2011</string>
    <string>uni2219</string>
  </array>
  <key>public.kern2.FF000000000000094</key>
  <array>
    <string>asciitilde.case</string>
    <string>divide.case</string>
    <string>emdash.case</string>
    <string>endash.case</string>
    <string>hyphen.case</string>
    <string>less.case</string>
    <string>logicalnot.case</string>
    <string>minus.case</string>
    <string>periodcentered</string>
    <string>plus.case</string>
    <string>uni00AD.case</string>
    <string>uni2011.case</string>
    <string>uni2219.case</string>
  </array>
  <key>public.kern2.FF000000000000095</key>
  <array>
    <string>asterisk</string>
    <string>degree</string>
    <string>registered</string>
  </array>
  <key>public.kern2.FF000000000000096</key>
  <array>
    <string>at</string>
  </array>
  <key>public.kern2.FF000000000000097</key>
  <array>
    <string>backslash</string>
  </array>
  <key>public.kern2.FF000000000000098</key>
  <array>
    <string>backslash.case</string>
  </array>
  <key>public.kern2.FF000000000000099</key>
  <array>
    <string>braceright</string>
    <string>bracketright</string>
  </array>
  <key>public.kern2.FF000000000000100</key>
  <array>
    <string>braceright.case</string>
    <string>bracketright.case</string>
  </array>
  <key>public.kern2.FF000000000000101</key>
  <array>
    <string>c</string>
    <string>d</string>
    <string>dcroat</string>
    <string>e</string>
    <string>eth</string>
    <string>g</string>
    <string>o</string>
    <string>oe</string>
    <string>q</string>
  </array>
  <key>public.kern2.FF000000000000102</key>
  <array>
    <string>colon</string>
    <string>exclamdown</string>
    <string>semicolon</string>
  </array>
  <key>public.kern2.FF000000000000103</key>
  <array>
    <string>colon.case</string>
  </array>
  <key>public.kern2.FF000000000000104</key>
  <array>
    <string>comma</string>
    <string>ellipsis</string>
    <string>period</string>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern2.FF000000000000105</key>
  <array>
    <string>dagger</string>
  </array>
  <key>public.kern2.FF000000000000106</key>
  <array>
    <string>daggerdbl</string>
  </array>
  <key>public.kern2.FF000000000000107</key>
  <array>
    <string>dotlessi</string>
    <string>eng</string>
    <string>kgreenlandic</string>
    <string>m</string>
    <string>n</string>
    <string>p</string>
    <string>r</string>
    <string>uni00B5</string>
    <string>uni03BC</string>
  </array>
  <key>public.kern2.FF000000000000108</key>
  <array>
    <string>eight</string>
  </array>
  <key>public.kern2.FF000000000000109</key>
  <array>
    <string>f</string>
    <string>fi</string>
    <string>fl</string>
    <string>pi</string>
  </array>
  <key>public.kern2.FF000000000000110</key>
  <array>
    <string>five</string>
  </array>
  <key>public.kern2.FF000000000000111</key>
  <array>
    <string>four</string>
  </array>
  <key>public.kern2.FF000000000000112</key>
  <array>
    <string>germandbls</string>
  </array>
  <key>public.kern2.FF000000000000113</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern2.FF000000000000114</key>
  <array>
    <string>guillemotleft.case</string>
    <string>guilsinglleft.case</string>
  </array>
  <key>public.kern2.FF000000000000115</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern2.FF000000000000116</key>
  <array>
    <string>guillemotright.case</string>
    <string>guilsinglright.case</string>
  </array>
  <key>public.kern2.FF000000000000117</key>
  <array>
    <string>hbar</string>
  </array>
  <key>public.kern2.FF000000000000118</key>
  <array>
    <string>lslash</string>
  </array>
  <key>public.kern2.FF000000000000119</key>
  <array>
    <string>nine</string>
  </array>
  <key>public.kern2.FF000000000000120</key>
  <array>
    <string>numbersign</string>
  </array>
  <key>public.kern2.FF000000000000121</key>
  <array>
    <string>one</string>
  </array>
  <key>public.kern2.FF000000000000122</key>
  <array>
    <string>oslash</string>
  </array>
  <key>public.kern2.FF000000000000123</key>
  <array>
    <string>parenright</string>
  </array>
  <key>public.kern2.FF000000000000124</key>
  <array>
    <string>parenright.case</string>
  </array>
  <key>public.kern2.FF000000000000125</key>
  <array>
    <string>question</string>
  </array>
  <key>public.kern2.FF000000000000126</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern2.FF000000000000127</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern2.FF000000000000128</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern2.FF000000000000129</key>
  <array>
    <string>s</string>
  </array>
  <key>public.kern2.FF000000000000130</key>
  <array>
    <string>seven</string>
  </array>
  <key>public.kern2.FF000000000000131</key>
  <array>
    <string>six</string>
    <string>zero</string>
    <string>zero.zero</string>
  </array>
  <key>public.kern2.FF000000000000132</key>
  <array>
    <string>slash</string>
  </array>
  <key>public.kern2.FF000000000000133</key>
  <array>
    <string>slash.case</string>
  </array>
  <key>public.kern2.FF000000000000134</key>
  <array>
    <string>t</string>
  </array>
  <key>public.kern2.FF000000000000135</key>
  <array>
    <string>tbar</string>
  </array>
  <key>public.kern2.FF000000000000136</key>
  <array>
    <string>three</string>
  </array>
  <key>public.kern2.FF000000000000137</key>
  <array>
    <string>trademark</string>
  </array>
  <key>public.kern2.FF000000000000138</key>
  <array>
    <string>two</string>
  </array>
  <key>public.kern2.FF000000000000139</key>
  <array>
    <string>u</string>
  </array>
  <key>public.kern2.FF000000000000140</key>
  <array>
    <string>uni1E9E</string>
  </array>
  <key>public.kern2.FF000000000000141</key>
  <array>
    <string>v</string>
    <string>w</string>
  </array>
  <key>public.kern2.FF000000000000142</key>
  <array>
    <string>x</string>
  </array>
  <key>public.kern2.FF000000000000143</key>
  <array>
    <string>y</string>
  </array>
  <key>public.kern2.FF000000000000144</key>
  <array>
    <string>z</string>
  </array>
  <key>public.kern2.Hbar</key>
  <array>
    <string>Hbar</string>
  </array>
  <key>public.kern2.J</key>
  <array>
    <string>J</string>
  </array>
  <key>public.kern2.Oslash</key>
  <array>
    <string>Oslash</string>
  </array>
  <key>public.kern2.S</key>
  <array>
    <string>S</string>
    <string>dollar</string>
  </array>
  <key>public.kern2.T</key>
  <array>
    <string>T</string>
  </array>
  <key>public.kern2.Tbar</key>
  <array>
    <string>Tbar</string>
  </array>
  <key>public.kern2.U</key>
  <array>
    <string>U</string>
  </array>
  <key>public.kern2.V</key>
  <array>
    <string>V</string>
  </array>
  <key>public.kern2.W</key>
  <array>
    <string>W</string>
  </array>
  <key>public.kern2.X</key>
  <array>
    <string>X</string>
  </array>
  <key>public.kern2.Y</key>
  <array>
    <string>Y</string>
  </array>
  <key>public.kern2.Z</key>
  <array>
    <string>Z</string>
  </array>
  <key>public.kern2.a</key>
  <array>
    <string>a</string>
    <string>ae</string>
  </array>
  <key>public.kern2.ampersand</key>
  <array>
    <string>ampersand</string>
  </array>
  <key>public.kern2.asterisk</key>
  <array>
    <string>asterisk</string>
    <string>degree</string>
    <string>registered</string>
  </array>
  <key>public.kern2.at</key>
  <array>
    <string>at</string>
  </array>
  <key>public.kern2.b</key>
  <array>
    <string>b</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>thorn</string>
  </array>
  <key>public.kern2.backslash</key>
  <array>
    <string>backslash</string>
  </array>
  <key>public.kern2.backslash.case</key>
  <array>
    <string>backslash.case</string>
  </array>
  <key>public.kern2.braceleft</key>
  <array>
    <string>braceleft</string>
  </array>
  <key>public.kern2.braceright</key>
  <array>
    <string>braceright</string>
    <string>bracketright</string>
  </array>
  <key>public.kern2.braceright.case</key>
  <array>
    <string>braceright.case</string>
    <string>bracketright.case</string>
  </array>
  <key>public.kern2.c</key>
  <array>
    <string>c</string>
    <string>d</string>
    <string>dcroat</string>
    <string>e</string>
    <string>eth</string>
    <string>g</string>
    <string>o</string>
    <string>oe</string>
    <string>q</string>
  </array>
  <key>public.kern2.colon</key>
  <array>
    <string>colon</string>
    <string>exclamdown</string>
    <string>semicolon</string>
  </array>
  <key>public.kern2.colon.case</key>
  <array>
    <string>colon.case</string>
  </array>
  <key>public.kern2.dagger</key>
  <array>
    <string>dagger</string>
  </array>
  <key>public.kern2.daggerdbl</key>
  <array>
    <string>daggerdbl</string>
  </array>
  <key>public.kern2.dotlessi</key>
  <array>
    <string>dotlessi</string>
    <string>eng</string>
    <string>kgreenlandic</string>
    <string>m</string>
    <string>n</string>
    <string>p</string>
    <string>r</string>
    <string>uni00B5</string>
    <string>uni03BC</string>
  </array>
  <key>public.kern2.eight</key>
  <array>
    <string>eight</string>
  </array>
  <key>public.kern2.f</key>
  <array>
    <string>f</string>
    <string>fi</string>
    <string>fl</string>
    <string>pi</string>
  </array>
  <key>public.kern2.five</key>
  <array>
    <string>five</string>
  </array>
  <key>public.kern2.four</key>
  <array>
    <string>four</string>
  </array>
  <key>public.kern2.germandbls</key>
  <array>
    <string>germandbls</string>
  </array>
  <key>public.kern2.guillemotleft</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern2.guillemotleft.case</key>
  <array>
    <string>guillemotleft.case</string>
    <string>guilsinglleft.case</string>
  </array>
  <key>public.kern2.guillemotright</key>
  <array>
    <string>guillemotright</string>
    <string>guilsinglright</string>
  </array>
  <key>public.kern2.guillemotright.case</key>
  <array>
    <string>guillemotright.case</string>
    <string>guilsinglright.case</string>
  </array>
  <key>public.kern2.hbar</key>
  <array>
    <string>hbar</string>
  </array>
  <key>public.kern2.hyphen</key>
  <array>
    <string>asciitilde</string>
    <string>divide</string>
    <string>emdash</string>
    <string>endash</string>
    <string>hyphen</string>
    <string>less</string>
    <string>logicalnot</string>
    <string>minus</string>
    <string>plus</string>
    <string>uni00AD</string>
    <string>uni2011</string>
    <string>uni2219</string>
  </array>
  <key>public.kern2.lslash</key>
  <array>
    <string>lslash</string>
  </array>
  <key>public.kern2.nine</key>
  <array>
    <string>nine</string>
  </array>
  <key>public.kern2.numbersign</key>
  <array>
    <string>numbersign</string>
  </array>
  <key>public.kern2.one</key>
  <array>
    <string>one</string>
  </array>
  <key>public.kern2.ordfeminine</key>
  <array>
    <string>ordfeminine</string>
  </array>
  <key>public.kern2.ordmasculine</key>
  <array>
    <string>ordmasculine</string>
  </array>
  <key>public.kern2.oslash</key>
  <array>
    <string>oslash</string>
  </array>
  <key>public.kern2.parenleft</key>
  <array>
    <string>parenleft</string>
  </array>
  <key>public.kern2.parenright</key>
  <array>
    <string>parenright</string>
  </array>
  <key>public.kern2.parenright.case</key>
  <array>
    <string>parenright.case</string>
  </array>
  <key>public.kern2.percent</key>
  <array>
    <string>percent</string>
    <string>perthousand</string>
  </array>
  <key>public.kern2.period</key>
  <array>
    <string>comma</string>
    <string>ellipsis</string>
    <string>period</string>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern2.periodcentered</key>
  <array>
    <string>asciitilde.case</string>
    <string>divide.case</string>
    <string>emdash.case</string>
    <string>endash.case</string>
    <string>hyphen.case</string>
    <string>less.case</string>
    <string>logicalnot.case</string>
    <string>minus.case</string>
    <string>periodcentered</string>
    <string>plus.case</string>
    <string>uni00AD.case</string>
    <string>uni2011.case</string>
    <string>uni2219.case</string>
  </array>
  <key>public.kern2.question</key>
  <array>
    <string>question</string>
  </array>
  <key>public.kern2.quotedbl</key>
  <array>
    <string>quotedbl</string>
    <string>quotesingle</string>
  </array>
  <key>public.kern2.quotedblleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern2.quotedblright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern2.s</key>
  <array>
    <string>s</string>
  </array>
  <key>public.kern2.seven</key>
  <array>
    <string>seven</string>
  </array>
  <key>public.kern2.slash</key>
  <array>
    <string>slash</string>
  </array>
  <key>public.kern2.slash.case</key>
  <array>
    <string>slash.case</string>
  </array>
  <key>public.kern2.t</key>
  <array>
    <string>t</string>
  </array>
  <key>public.kern2.tbar</key>
  <array>
    <string>tbar</string>
  </array>
  <key>public.kern2.three</key>
  <array>
    <string>three</string>
  </array>
  <key>public.kern2.trademark</key>
  <array>
    <string>trademark</string>
  </array>
  <key>public.kern2.two</key>
  <array>
    <string>two</string>
  </array>
  <key>public.kern2.u</key>
  <array>
    <string>u</string>
  </array>
  <key>public.kern2.uni1E9E</key>
  <array>
    <string>uni1E9E</string>
  </array>
  <key>public.kern2.uni20BC</key>
  <array>
    <string>uni20BC</string>
  </array>
  <key>public.kern2.v</key>
  <array>
    <string>v</string>
    <string>w</string>
  </array>
  <key>public.kern2.x</key>
  <array>
    <string>x</string>
  </array>
  <key>public.kern2.y</key>
  <array>
    <string>y</string>
  </array>
  <key>public.kern2.z</key>
  <array>
    <string>z</string>
  </array>
  <key>public.kern2.zero</key>
  <array>
    <string>six</string>
    <string>zero</string>
    <string>zero.zero</string>
  </array>
</dict>
</plist>
